// Colors
$darkCyan: hsl(185, 75%, 39%);
$darkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

// Font size
$font-xsm: 0.625rem;
$font-sm: 0.875rem;
$font-med: 1.125rem;

// Components
$bg-circle-size: 65em;
$card-photo-size: 5.625em;
